{% extends "base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %}
{% block body %}
    {% include "task/_task_nav.html.twig" %}
    <div class="row align-items-center my-4">
        <div class="col-4">
            <img src="{{ asset('img/todolist.png') }}" class="img-fluid" alt="Todolist">
        </div>
        <div class="col">
            <h2 class="">{{ title }}</h2>
        </div>
    </div>
    <div class="row my-4">
        {% for task in tasks %}
            <div class="col-md-6 col-lg-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col text-start">
                                <h5 class="card-title"><a href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a></h5>
                                <h6 class="card-subtitle">{%  if task.user is null %}anonyme{% else %}{{ task.user.username }}{% endif %}</h6>
                            </div>
                            <div class="col text-end">
                                <h5 class="card-subtitle">
                                    {% if task.isDone %}<i class='bx bxs-check-square'></i>{% else %}<i class='bx bxs-x-square'></i>{% endif %}
                                </h5>
                            </div>
                        </div>
                        <p class="card-text text-start py-3">{{ task.content }}</p>
                        <div class="text-end">
                            <form action="{{ path('task_toggle', {'id' : task.id }) }}">
                                <button class="btn btn-success btn-sm mb-2">
                                    {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
                                </button>
                            </form>
                            <form action="{{ path('task_delete', {'id' : task.id }) }}">
                                <button class="btn btn-danger btn-sm">
                                    Supprimer
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
