{% extends "base.html.twig" %}

{% block title %}
    Ajouter un utilisateur
{% endblock %}
{% block body %}
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card mt-3">
                <div class="card-body">
                    <div class="row align-items-center my-4">
                        <div class="col-md-4">
                            <img src="{{ asset('img/todolist.png') }}" class="img-fluid" alt="Todolist">
                        </div>
                        <div class="col-md-8">
                            <h2 class="">Ajout d'un utilisateur</h2>
                        </div>
                    </div>
                    {{ form_start(form, {'action' : path('user_create')}) }}
                        <div class="mb-3 text-start">
                            {{ form_label(form.username) }}
                            {{ form_widget(form.username) }}
                            <div class="text-danger">
                                {{ form_errors(form.username) }}
                            </div>
                        </div>
                        <div class="mb-3 text-start">
                            {{ form_label(form.password.first) }}
                            {{ form_widget(form.password.first) }}
                        </div>
                        <div class="mb-3 text-start">
                            {{ form_label(form.password.second) }}
                            {{ form_widget(form.password.second) }}
                            <div class="text-danger">
                                {{ form_errors(form.password.first) }}
                            </div>
                        </div>
                        <div class="mb-3 text-start">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                            <div class="text-danger">
                                {{ form_errors(form.email) }}
                            </div>
                        </div>
                        <div class="text-end">
                            <a href="{{ path('user_list') }}" class="btn btn-primary">Retour</a>
                            <button type="submit" class="btn btn-success text-end">Ajouter</button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
